.page__profile {
  margin: 0 auto;
}

@media screen and (max-width: 910px) {
  .page__profile {
    margin-left: calc(19px + (40 - 19) * ((100vw - 320px) / (910 - 320)));
    margin-right: calc(19px + (40 - 19) * ((100vw - 320px) / (910 - 320)));
  }
}
