.page__footer {
  margin: 0 auto;
  margin-top: 66px;
  margin-bottom: 60px;
}

@media screen and (max-width: 910px) {
  .page__footer {
    margin-left: calc(19px + (40 - 19) * ((100vw - 320px) / (910 - 320)));
    margin-right: calc(19px + (40 - 19) * ((100vw - 320px) / (910 - 320)));
  }
}

@media screen and (max-width: 320px) {
  .page__footer {
    margin-top: 48px;
    margin-bottom: 36px;
  }
}
